{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "requireConfigFile": false,
        "babelOptions": {
            "presets": ["@babel/preset-react"]
        }
    },
    "env": {
        "browser": true
    },
    "rules": {
        "indent": [
            "error",
            4
        ],
        "semi": "error",
        "no-multiple-empty-lines": "error",
        "newline-before-return": "error",
        "no-trailing-spaces": "error"
    }
}