body {
    background-color: #222;
}

.search-bar {
    margin: 20px;
    text-align: center;
}

.search-bar input {
    width: 75%;
    color: white;
    background-color: #333;
}

.video-detail .details {
    margin-top: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #ddd;
    background-color: #333;
}

.video-title {
    font-weight: bold;
    font-size: 1.25em;
}

.video-author {
    font-style: italic;
    font-size: 0.85em;
}

.video-item img {
    max-width: 64px;
}

.list-group-item {
    cursor: pointer;
    color: white;
    /* background-color: #333; */ /* broken */
}

.list-group-item:hover {
    background-color: #006eff28;
}
